
@model Ags_TaskManagement.BAL.Manager

@using PagedList;
@using PagedList.Mvc;

@{
    IPagedList<Ags_TaskManagement.BAL.Manager> Model = ViewData["SearchEmployee"] as IPagedList<Ags_TaskManagement.BAL.Manager>;
}

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--header page row-->
<div class="row">
    <div class="col-md-12">
        <div class="haedingpage">
            <div class="leftheadcol">

                <h1>Manager Dashboard</h1>
            </div>
            @*<div class="rightsidecol">
                    <a role="button" href="/Task/TaskMaster" class="mbtn mgento"><i class="fas fa-plus"></i> Task <span>Lead</span></a>
                </div>*@

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="boxstyle">
            @*<div class="headbox">
                    <h1>Leads [@Model.TotalItemCount]</h1>
                </div>*@

            <div class="contbox tablecol">
                @using (Html.BeginForm("Employees", "Manager", FormMethod.Get))
                {

                    <div class="filter_tablerow">
                        <div class="filtertable_item">
                            <div class="form-group">
                                <label>From Date</label>
                                @Html.TextBoxFor(model => model.fromDate, new { @class = "form-control", @autocomplete = "off" })

                            </div>
                        </div>
                        <div class="filtertable_item">
                            <div class="form-group">
                                <label>To Date</label>
                                @Html.TextBoxFor(model => model.toDate, new { @class = "form-control", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="filtertable_item">
                            <button class="mbtn">
                                Search
                            </button>
                        </div>
                    </div>

                }


                <div class="inerdatatable table_pad">
                    <table border="0" cellpadding="0" cellspacing="0" class="table table-hover">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Profile</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>EmailID</th>
                                <th>MobileNo</th>
                                @*
                                    <th>Job Location</th>*@

                                <th colspan="2">Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @{int count = 0; }

                            @if (Convert.ToInt16(Request.QueryString["page"]) == 0)
                            {
                                count = 0;
                            }
                            else
                            {
                                count = (Convert.ToInt16(Request.QueryString["page"]) - 1) * 10;
                            }

                            @if (Model != null && Model.Count() != 0)
                            {

                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td><img class="w-25" src="~/Usefull/Manager/Employee/@item.EmployeeId/@item.EmployeeId@item.ProfilePic" /></td>

                                        <td>@item.FullName</td>
                                        <td>@item.Designation </td>
                                        <td>@item.OfficeEmailID</td>
                                        <td>@item.PersonalMobileNumber</td>
                                        @*<td>@Html.ActionLink(item.Title, "ProjectCompleteDetail", "Manager", new { id = item.Projectid }, null)</td>*@
                                        <td>
                                            @Html.ActionLink("Edit", "EditEmployee", new { id = item.EmployeeId }, new { @class = "btn badge badge-warning text-white" })
                                            @*<a class="btn tb_download" href="/Manager/EditEmployee?@(Urlmanage.payview(@item.EmployeeId.ToString()))">
                                                    <i class="fas fa-edit"></i>Edit
                                                </a>*@
                                        </td>

                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="15">No Records Found.</td>
                                </tr>
                            }


                        </tbody>

                    </table>
                </div>
                @if (Model != null && Model.Count() != 0)
                {
                    <div class="pagbtn">
                        @Html.PagedListPager(Model, page => Url.Action("Employees", new { page }), new PagedListRenderOptions() { })
                    </div>
                }
            </div>



        </div>
    </div>
</div>

@section scripts
{
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#Dashboard").addClass("active");
        });
        $(function () {




            $("#fromDate").datepicker({
                beforeShowDay: function (date) {
                    var dayOfWeek = date.getDay();
                    // 0 : Sunday, 1 : Monday, ...
                    //if (dayOfWeek == 0 || dayOfWeek == 6) return [false];
                    return [true];
                }
            });

            $("#toDate").datepicker({
                beforeShowDay: function (date) {
                    var dayOfWeek = date.getDay();
                    // 0 : Sunday, 1 : Monday, ...
                    //if (dayOfWeek == 0 || dayOfWeek == 6) return [false];
                    return [true];
                }
            });
        });
    </script>

}
